* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

nav {
  height: 12vh;
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  place-items: center;
}

nav h4 {
  font-size: 2em;
  font-weight: 800;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;
  font-size: 1.2em;
}
.burger {
  display: none;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: 0.3s;
}

.mobile {
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: #333333;
  width: 50%;
  display: none;
}

.burger.active .line1 {
  transform: rotate(45deg) translate(5px);
}

.burger.active .line2 {
  display: none;
}

.burger.active .line3 {
  transform: rotate(-45deg) translate(5px);
}

.mobile ul {
  display: flex;
  flex-direction: column;
  place-items: center;
  list-style-type: none;
  font-size: 1.2em;
}

.mobile ul li {
  margin: 15vh 0;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  .burger {
    display: initial;
  }
}
